*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto';
}

/**HEADER*/

nav {
    background-color: #232D50;
    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    padding: 10px 0 ;
}

.navbar1 {
    color: #fff;
}

a:hover {
    color: rgb(153, 151, 151) !important;
}

/**MAIN*/

main {
    box-sizing: border-box;
}

.container1 {
    position: relative;
    background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
    min-height: 100vh;
    height: 600px;
    display: flex;
    align-items: center;
}

.vector1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.text-container1 {
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: #fff;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 ;
}

.buttom {
    display: inline-block;
    width: 250px;
    padding: 15px 0 ;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #2B5876;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.img-container {
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.img {
    width: 95%;
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

/**INFO*/
.inf1 {
    position: relative;
    background: #fff;
    min-height: 100vh;
    height: 600px;
    display: flex;
    align-items: center;
}

.h1- {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 44px;
    line-height: 47px;
    margin-bottom: 20px;
    padding-top: 100px;
}

.h2- {
    font-family: Dancing script;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.col-lg-8 {
    text-align: right;
}

.col-lg-4 {
    text-align: center;
}

/**FOOTER*/

.footer1 {
    background:#1F1F1F;
    height:120px;
    margin: none;
    display: flex;
    text-align: left;
    align-items: center;
}

.footertext {
    color: #ACACAC;
    margin-left: 40px;

}

@keyframes ilustrationAnimate {
    8%{
        transform: scale(1);
    }100%{
        transform: scale(1.04);
    }
}

@media screen and (max-width: 800px) {
    .container1 {
        flex-direction: column-reverse;
    }

    .vector1 {
        width: 80%;
    }

    nav {
        justify-content:center
    }

    .text-container1 {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 30px;
    }

    .img-container {
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img {
        height: 90%;
    }

    .inf1 {
        flex-direction: column-reverse;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .col-lg-4 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;

    }
    .h1- {
        font-size: 35px;
    }
    
    .h2- {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .vector1 {
        width: auto;
        height: 48%;
    }
    .text-container1 {
        flex-basis: 40%;
        justify-content: flex-start;
    }
    .title {
        font-size: 35px;
    }
}